.profile__image {
    background-image: url(../../../images/Jak-Iv-Kusto.jpg);
    background-position: center;
    background-size: contain;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}