.elements-item__trash {
    position: absolute;
    z-index: 0;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/Trash.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: auto;
}

.elements-item__trash:hover {
    opacity: 0.6;
    cursor: pointer;
    transition-duration: 0.2s;
}