.popup__close-image {
    background-image: url(../../../images/Close-Icon.png);
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 55px;
    height: 55px;
    transition-duration: 0.2s;
    align-self: flex-end;
    margin-right: -45px;
    margin-bottom: -8px;
}

.popup__close-image:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close-image {
        max-width: 50px;
        top: -45px;
        right: 0;
    }
}