@import url(./__copyright/footer__copyright.css);

.footer {
    max-width: 882px;
    margin: 66px auto 60px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 48px auto 36px;
        padding-left: 20px;
    }
}