.elements__list {
    max-width: 882px;
    margin: 51px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 767px) {
    .elements__list {
        margin-top: 36px;
    }
}